@font-face {
  font-family: "KCCChassam";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCCChassam.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "KCCChassam";
}

body {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

@media (min-width: 650px) {
  .App {
    width: 640px;
  }
}
@media (max-width: 650px) {
  /* width가 650px 이하일때, */
  .App {
    width: 90vw;
  }
}

#root {
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.App {
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

/* MyButton */
.MyButton {
  cursor: pointer;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  box-sizing: border-box;
  font-size: 18px;
  white-space: nowrap;
}
.MyButton_default {
  background-color: #ececec;
  color: black;
}
.MyButton_negative {
  background-color: #fd565f;
  color: white;
}
.MyButton_positive {
  background-color: #64c964;
  color: white;
}

/* header */
header {
  padding: 20px 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e2e2e2;
}
header > div {
  display: flex;
}
header .head_text {
  width: 50%;
  font-size: 25px;
  justify-content: center;
}
header .head_btn_right {
  width: 25%;
  justify-content: flex-end;
}
header .head_btn_left {
  width: 25%;
  justify-content: flex-start;
}
